/* ==UserStyle==
@name			Prisjakt Dark
@description	A modern dark theme for Prisjakt
@version		23.286.2134
@license		MPL-2.0
@author			Soitora <simon.mattila@protonmail.com> (https://soitora.com)
@namespace		https://github.com/Soitora
@homepageURL	https://github.com/Soitora/Prisjakt-Dark
@supportURL		https://github.com/Soitora/Prisjakt-Dark/issues
@updateURL		https://raw.githubusercontent.com/Soitora/Prisjakt-Dark/gh-pages/prisjakt-dark.user.styl
@preprocessor	stylus

@var	color		var-background-1 "Background color 1" #121212
@var	color		var-background-2 "Background color 2" #1D1D1F
@var	color		var-background-3 "Background color 3" #2A2A2C
@var	color		var-text-1 "Text color 1" #C8C8C8
@var	color		var-text-2 "Text color 2" #AAAAAA
@var	color		var-border-color "Border color" #101013
@var	color		var-border-color-light "Border color light" #3B3B3B
@var	color		var-highlight "Highlight color" #2A2A2D
@var	color		var-warning "Warning color" #EE4757
@var	color		var-theme "Theme color" #ff3366
@var	color		var-theme-text "Theme color text" #FFFFFF
@var	number		var-image-brightness "Image brightness" [0.75, 0, 1, 0.05]
@var	select		var-scrollbar-style "Scrollbar" {
	"Original": "scrollbar-original",
	"Custom (Default)*": "scrollbar-custom"
}

==/UserStyle== */
@-moz-document domain("www.prisjakt.nu") {
	var-background-1 ?= #121212
	var-background-2 ?= #1D1D1F
	var-background-3 ?= #2A2A2C
	var-text-1 ?= #C8C8C8
	var-text-2 ?= #AAAAAA
	var-border-color ?= #101013
	var-border-color-light ?= #3B3B3B
	var-highlight ?= #2A2A2D
	var-warning ?= #EE4757
	var-theme ?= #ff3366
	var-theme-shade ?= shade(var-theme, 20%)
	var-theme-text ?= #FFFFFF
	var-image-brightness ?= 0.75
	var-scrollbar-style ?= scrollbar-original
	var-on-background-1 = var-background-2
	var-on-background-2 = darken(var-background-2, 25%)
	var-on-background-2-button = lighten(var-background-2, 3%)
	var-border = 1px solid var-border-color
	var-border-light = 1px solid var-border-color-light
	var-border-radius = 0.6rem
	var-hover-opacity = 0.8
	var-hover-text = none
	var-box-shadow = 0 0 0 1px var-border-color
	var-box-shadow-light = 0 0 0 1px var-border-color-light
	var-box-shadow-inset = inset 0 0 0 1px var-border-color
	var-box-shadow-inset-light = inset 0 0 0 1px var-border-color-light
	var-box-shadow-warning = 0 0 0 1px var-warning
	var-text-shadow = 1px 1px 2px var-black
	var-filter-light = brightness(0) saturate(100%) invert(92%) sepia(0) saturate(489%) hue-rotate(229deg) brightness(90%) contrast(86%)
	var-filter-grey = sepia(0) saturate(0.29) brightness(67%) contrast(184%) hue-rotate(179deg) invert(8%)
	var-black = #000000
	var-white = #ffffff
	var-orange = #8a631b
	var-blue = #305d84
	var-green = #1c5a00
	var-pink = #ac1c40
	var-purple = #8e78a2

	if (var-scrollbar-style == "scrollbar-custom") {
		::-webkit-scrollbar {
			width: 17px
			height: 12px
		}

		::-webkit-scrollbar-corner {
			background: var-background-1
		}

		::-webkit-scrollbar-thumb {
			border-right: 4px solid var-background-1 !important
			border-left: 4px solid var-background-1 !important
			background: var-theme
		}

		::-webkit-scrollbar-track {
			background: var-background-1
		}

		::-webkit-resizer {
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABB0lEQVQ4jcXSvytHYRQG8I9fZWNg8A8og0wMyKKMFEpZlPxYZaEsysJCFuprUSYs6ptQshlYLUa7JAsGSW+9V7fb/fK9GZzp7X3O8/Q85xx/rZrAfylNFJEJnDU8Ns0dbtcWNFCHElbQGT6KCDTiGDPYwGz4rK+S3IwTDGARWwlQjUAbztGBKRykwd8E2nGBVozgLNvwk0A3TuOcBnGT11RpiEO4wiv6M+QG7GK5ksAkynhAH+5TWIhyifnEfTbCAjZxjWE8p7CuuIkWjMb3t4NwXetxPeUYIU0ej6Kf6E3IaYE9LGEfY3hLkVdxhFv04C5viCFnuK5pfGRivWMnunrKn/m/Fb4AFQsvGVJYWLQAAAAASUVORK5CYII=") !important
			background-position: 3px 3px !important
			background-size: 12px auto !important
			background-repeat: no-repeat !important
		}
	}

	filter() {
		filter: arguments
		-moz-filter: arguments
		-ms-filter: arguments
		-o-filter: arguments
		-webkit-filter: arguments
	}

	border-radius() {
		border-radius: arguments
		-moz-border-radius: arguments
		-ms-border-radius: arguments
		-o-border-radius: arguments
		-webkit-border-radius: arguments
	}

	box-shadow() {
		box-shadow: arguments
		-moz-box-shadow: arguments
		-ms-box-shadow: arguments
		-o-box-shadow: arguments
		-webkit-box-shadow: arguments
	}

	user-select(n) {
		user-select: n
		-moz-user-select: n
		-ms-user-select: n
		-o-user-select: n
		-webkit-user-select: n
	}

	body {
		background-color: var-background-1 !important
		color: var-text-2 !important
	}

	a,
	.link {
		color: var-blue
	}

	a:hover,
	a:hover>.label,
	.link:hover,
	.link:hover>.label {
		text-decoration: var-hover-text
		opacity: var-hover-opacity
	}

	img {
		filter: brightness(var-image-brightness)
	}

	// Loading thingies
	.jiXTaf,
	.ffFRsJ,
	.boqdHv,
	.fNITnJ,
	.qAClZ,
	.ggwIZf,
	.jJMYDF,
	.lnCZYn,
	.kdTKVb,
	.dhEdhV {
		background-color: var-on-background-2
		background-image: linear-gradient(90deg, var-on-background-2, lighten(var-on-background-2, 5%), lighten(var-on-background-2, 10%))
	}

	// Cards
	.ojnnt,
	.cXsBHp,
	.dTwFsg {
		background-color: var-on-background-1
		box-shadow: var-box-shadow-inset
		color: var-text-1
	}

	// Cards buttons
	.jZgPkD {
		background-color: var-blue
		box-shadow: var-box-shadow-inset

		&:hover {
			background-color: darken(var-blue, 10%) !important
			box-shadow: var-box-shadow-inset
		}
	}

	.izpwyl {
		background-color: var-orange

		span {
			color: var-text-1
		}
	}

	.gpIYpP {
		background-color: var-pink

		span {
			color: var-text-1
		}
	}

	.LyeLN {
		color: var-pink
	}

	.jKnKKv {
		color: var-text-2
	}

	// Header
	.hzEaUE,
	.cGMvZJ {
		background-color: var-blue
	}

	@media screen and (min-width: 40em) {
		.hzGYcu {
			filter: brightness(var-image-brightness)
		}
	}

	// Sidebar
	.dAOMaA,
	.hkzBRc {
		background-color: var-on-background-1
	}

	// Footer
	.jiYIuO,
	.jkuyEJ,
	.dxhXPk,
	.gccpPP {
		background-color: var-background-1
	}

	.AAHWe,
	.iJzkAV {
		background-color: var-on-background-1
	}
}